doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Patua+One|Roboto+Condensed')
    link(rel='stylesheet', href='/stylesheets/loader.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')    
    
  body
      h1 Welcome to #{title}

      div#loaderContainer
        div.label Getting events for this week....
        div.loader 


      div(id='eventContainer' style='display: none')
        h2#header
        div#events
        div#findOutMore Find out more


      //- vendor
      script(src='/vendors/jquery/jquery-3.2.1.min.js')
      script(src='/vendors/moment/moment.min.js')
      script(src='/vendors/lodash/lodash.core.min.js')
      
      
      script(src='/javascripts/skyline_client.js')
      script(src='/javascripts/index.js')          

      //- script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFIH0Tuuc_II5MtKryUl3s5cYAdCrrwuk&callback=initMap")