doctype html
html
  head
    //Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-112506473-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-112506473-1');

    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="/images/favicon.ico")
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Condensed|Holtwood+One+SC')
    link(rel='stylesheet', href='/stylesheets/loader.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')    

  body#page-top

    nav#mainNav
      div.container
        a(class='navbar-brand js-scroll-trigger' href='#page-top') #{title}
        div#navbarResponsive
          ul.navbar-nav
            li.nav-item
              a(class='nav-link' href='#about') about
            li.nav-item
              a(class='nav-link' href='#services') services
            li.nav-item
              a(class='nav-link' href='#sermons') sermons
            li.nav-item
              a(class='nav-link' href='#we') we                            
            li.nav-item
              a(class='nav-link' href='#contact') contact
    
    header
      div.container
        div#crossContainer
          div#cross
        h2#description We are a Christian community reaching the people of Greater Vancouver and beyond with the life-changing message of Jesus Christ

        div#loaderContainer
          div.label Getting events for this week....
          div.loader 

        div(id='eventContainer' style='display: none')
          h4#header
          div#eventsForTheWeek
          a(id='findOutMore' class='findOutMore' href='#services') Find out more

    section#about
      div.sectionsCover
      div.container  
        div.content
          div 
            span 信於踐行
            span <strong>S</strong>
            span erve in action
          div 
            span 國度視野
            span <strong>K</strong>
            span ingdom perspective
          div 
            span 以神為先
            span <strong>Y</strong>
            span es to God in advance
          div
            span 世上的光
            span <strong>L</strong>
            span ight of the world
          div 
            span 進入人群
            span <strong>I</strong>
            span ncarnational living
          div 
            span 網絡建立
            span <strong>N</strong>
            span eighbors and networks
          div 
            span 歷煉成長
            span <strong>E</strong>
            span xperience to grow


    section#services
      div.sectionsCover.color2
      div.container
        div#loaderContainer
          div.label Getting events, please wait....
          div.loader 
      
        div(id='eventContainer' style='display: none')
          h3#header Come and join us in any of the events
          div#events
          div#findOutEvenMore.findOutMore Find out even more  

    section#sermons
      div.sectionsCover.color3
      div.container
        h3#header Sermons      
        div#getMorePastSermons
          button Find out what you have missed          
        div(id='sermonContainer')
          div#sermons
        div#loaderContainer
          div.label retrieving, please wait....
          div.loader           

    section#we
      div.sectionsCover.color1
      div.container
        div.weContainer
          div.title 
            h2 WE
            h3 Christian
            div A person who follows or belongs to a religion based on the worship of one God and the teachings of Jesus Christ as described in the Bible
          div.grid            
          

    section#contact
      div.sectionsCover.color4
      div#gMap
      ul#contactMe
        li Wanna tell us something
        li#form          
          div 
            span.title Name
            input(id='contactName' type='text' placeholder='What is your name?')
            span(id='contactNameError' class='error')
          div
            span.title Email
            input(id='contactEmail' type='text' placeholder='Where we can contact you?')
            span(id='contactEmailError' class='error')
          div
            span.title Message
            textarea(id='contactMessage' placeholder='What do you want to tell us?')
            span(id='contactMessageError' class='error')
          div
            button(id='feedbackSend') send          
        li#messageSent
          div We got it, thx ;>


    footer
      div Copyright &copy; 2017 SKYLINE CHURCH


    //- vendor
    script(src='/vendors/jquery/jquery-3.2.1.min.js')
    script(src='/vendors/moment/moment.min.js')
    script(src='/vendors/lodash/lodash.min.js')
    
    
    script(src='/javascripts/Skyline/skyline_client.js')
    script(src='/javascripts/Skyline/skyline_ui.js')
    script(src='/javascripts/gMap.js')
    script(src='/javascripts/index.js')          

    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFIH0Tuuc_II5MtKryUl3s5cYAdCrrwuk&callback=initMap")