/* Coolors Exported Palette - coolors.co/ffffe8-e56554-a8fff3-ffa654-078fff */
// https://coolors.co/ffffe8-e56554-a8fff3-ffa654-078fff

/* HSL */
$color1: hsla(60%, 100%, 95%, 1);
$color2: hsla(7%, 74%, 61%, 1);
$color3: hsla(172%, 100%, 83%, 1);
$color4: hsla(29%, 100%, 66%, 1);
$color5: hsla(207%, 100%, 51%, 1);

/* RGB */
/* cream white */
$color1: rgba(255, 255, 232, 1);
/* reddish orange */
$color2: rgba(229, 101, 84, 1); 
/* pastel green */
$color3: rgba(168, 255, 243, 1);
/* orange */
$color4: rgba(255, 166, 84, 1);
/* blue */
$color5: rgba(7, 143, 255, 1);


// https://www.degordian.com/education/blog/best-practice-for-responsive-typography/
$html-font-size-lg: 16px;
$html-font-size-md: 15px;
$html-font-size-sm: 14px;
$html-font-size-xs: 13px;

html, body
    width: 100%
    height: 100%

html
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif        
    font-size: $html-font-size-lg

    @media (max-width: 1024px)
        font-size: $html-font-size-md
    
    @media (max-width: 640px)
        font-size: $html-font-size-sm
    
    @media (max-width: 480px)
        font-size: $html-font-size-xs
    
body
    background-color: black
    padding: 0
    margin: 0

a
    color: #00B7FF

pre
    margin: 0  
    white-space: pre-wrap


.container
    padding-left: 25%
    padding-right: 25%

    @media (max-width: 1024px)
        padding-left: 200px
        padding-right: 200px
    @media (max-width: 800px)
        padding-left: 125px
        padding-right: 125px        
    @media (max-width: 640px)
        padding-left: 60px
        padding-right: 60px
    @media (max-width: 480px)
        padding-left: 25px
        padding-right: 25px          

header .container
    padding-top: 150px
    padding-bottom: 100px
    @media (max-width: 480px)
        padding-top: 100px

.sectionsCover
    z-index: 9
    background: linear-gradient(135deg, black 25%, transparent 25%) -50px 0,linear-gradient(225deg, black 25%, transparent 25%) -50px 0,linear-gradient(315deg, black 25%, transparent 25%),linear-gradient(45deg, black 25%, transparent 25%)
    background-size: 2em 2em
    height: 1em

    &.color1
        background: linear-gradient(135deg, $color1 25%, transparent 25%) -50px 0,linear-gradient(225deg, $color1 25%, transparent 25%) -50px 0,linear-gradient(315deg, $color1 25%, transparent 25%),linear-gradient(45deg, $color1 25%, transparent 25%)
        background-size: 2em 2em
    &.color2            
        background: linear-gradient(135deg, $color2 25%, transparent 25%) -50px 0,linear-gradient(225deg, $color2 25%, transparent 25%) -50px 0,linear-gradient(315deg, $color2 25%, transparent 25%),linear-gradient(45deg, $color2 25%, transparent 25%)
        background-size: 2em 2em
    &.color3
        background: linear-gradient(135deg, $color3 25%, transparent 25%) -50px 0,linear-gradient(225deg, $color3 25%, transparent 25%) -50px 0,linear-gradient(315deg, $color3 25%, transparent 25%),linear-gradient(45deg, $color3 25%, transparent 25%)
        background-size: 2em 2em
    &.color4
        background: linear-gradient(135deg, $color4 25%, transparent 25%) -50px 0,linear-gradient(225deg, $color4 25%, transparent 25%) -50px 0,linear-gradient(315deg, $color4 25%, transparent 25%),linear-gradient(45deg, $color4 25%, transparent 25%)
        background-size: 2em 2em        

      
#loaderContainer
  text-align: center
    
.findOutMore
  display: inline-block
  padding: 15px
  background-color: $color4
  border-radius: 5px
  text-transform: uppercase
  color: white
  font-size: 1.25em
  text-decoration: none

